.container_fav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.container_selects {
    position: absolute;
    top: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    gap: 1em;
    border-radius: 10px;
}
.container_selects select {
    /* width: fit-content; */
    padding: .5em 1em ;
    cursor: pointer;
    background-color: #5ddf4c;
    border: none;
    border-radius: 0.5em;
    color: #000000;
    margin: 5px;
    /* width: 5em; */
}
.container_selects select:hover {
    box-shadow: 0 0 18px #5ddf4c;
}