.container__search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 1em;
}
.input__search{
    text-align: center;
    padding: .3em;
}
.button__search {
    width: fit-content;
padding: .5em;
cursor: pointer;
background-color: #5ddf4c;
border: none;
border-radius: .5em;
color: #5e5316;
}