@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@media (min-width: 801px) {
    .input {
        display: none;
    }
    a {
        text-decoration: none;
        color: #f6f4e6;
    }
    .navMenu {
        /* background: #272727; */
        font-family: "Montserrat", sans-serif;
        /* position: relative; */
        position: fixed;
        top: 5%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .navMenu li {
        text-decoration: none;
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 500;
        display: inline-block;
        width: 100px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .navMenu li a:hover {
        color: rgb(235, 231, 13);
    }

    .navMenu .dot {
        width: 6px;
        height: 6px;
        background: rgb(235, 231, 13);
        border-radius: 50%;
        opacity: 0;
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .navMenu li:nth-child(1):hover ~ .dot {
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        opacity: 1;
    }

    .navMenu li:nth-child(2):hover ~ .dot {
        -webkit-transform: translateX(135px);
        transform: translateX(135px);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        opacity: 1;
    }

    .navMenu li:nth-child(3):hover ~ .dot {
        -webkit-transform: translateX(235px);
        transform: translateX(235px);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        opacity: 1;
    }

    .navMenu li:nth-child(4):hover ~ .dot {
        -webkit-transform: translateX(340px);
        transform: translateX(340px);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        opacity: 1;
    }
    .nav__scrolled {
        background-color: #181717a9;
        z-index: 101;
        padding: 1em;
        border-radius: 1em;
    }
}

@media (max-width: 800px) {
    /* body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        background-color: #dcdc39;
    } */
    .dot {
        display: none;
    }

    .nav,
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav {
        font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
        position: fixed;
        top: 1em;
        right: 1vmin;

        /* position: relative; */
        background-color: rgba(235, 231, 13, 0);
        padding: 1em;
        transition: 0.5s;
        border-radius: 50px;
        overflow: hidden;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        z-index: 101;
        /* max-width: 95vw; */
    }

    .menu {
        margin: 0;
        padding: 0;
        width: 0;
        overflow: hidden;
        transition: 0.5s;
    }

    .nav input:checked ~ .menu {
        width: 250px;
    }

    .menu li {
        list-style: none;
        margin: 0 10px;
    }

    .menu li a {
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 600;
        transition: 0.5s;
    }

    .menu li a :hover {
        color: #05db17;
    }

    .nav input {
        width: 1.2em;
        height: 1.2em;
        cursor: pointer;
        opacity: 0;
    }

    .nav span {
        position: absolute;
        left: 1em;
        width: 1em;
        height: 4px;
        border-radius: 50px;
        background-color: #ffffffef;
        pointer-events: none;
        transition: 0.5s;
    }

    .nav input:checked ~ span {
        background-color: #ffffffef;
    }

    .nav span:nth-child(2) {
        transform: translateY(-8px);
    }

    .nav input:checked ~ span:nth-child(2) {
        transform: translateY(0) rotate(-45deg);
    }
    .nav span:nth-child(3) {
        transform: translateY(8px);
    }

    .nav input:checked ~ span:nth-child(3) {
        transform: translateY(0) rotate(45deg);
    }

}
